/* MOBILE */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
    margin-right: 40px;
}

  .hamburger span {
    width: 20px;     
    height: 2px;     
    margin: 3px 0;   
  }

  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(4px, 4px);
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
  }

   .logo-text h1 {
    font-size: 30px;
  }

  .nav-menu {
    position: absolute;
    top: 80px;
    right: 0;
    background: var(--text-color);
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }

  .nav-menu a {
    padding: 10px 0;
    color: var(--navbar-color);
  }

  .nav-menu.active {
    display: flex;
  }

  .logo {
    margin-left: 20px;
  }

  .tagline {
    font-size: 15px;
    margin-bottom: 10px;
    }

  .btn {
    display: block;
    width: 90%;
    text-align: center;
    padding: 12px;
    margin-top: 15px;
    border-radius: 8px;
    font-size: 16px;
    background: var(--secondary-color);
    color: var(--text-color);
  }

  .btn:hover {
    background: var(--primary-color);
  }

   .hero {
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-content {
    text-align: center;
  }
  
  .hero-content h1 {
    font-size: 32px;
    color: var(--primary-color);
  }

  .hero-content p {
    font-size: 16px;
  }

 .hero {
    background: url("../images/peace.jpg") center/cover no-repeat;
  }

  .card img {
        height: 150px;
  }

  .about-banner {
    height: 180px;
  }

  .about-banner h1 {
    font-size: 2rem;
  }

  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-content {
    font-size: 15px;
  }

  .mission-container{
    flex-direction: column;
  }

  .mission-card h2{
    font-size: 26px;
  }
.blog-row,
  .blog-row.reverse {
    flex-direction: column; /* stack image on top */
    text-align: center;
  }

  .blog-image {
    margin-bottom: 20px;
  }

  .resources-container {
    grid-template-columns: 1fr;
  }
  
   .contact-grid {
    flex-direction: column;
  }

  .form-row {
    flex-direction: column;
  }

 
}

/* =========================
   Very Small Phones (<400px)
========================= */
@media (max-width: 400px) {
  .site-footer {
    padding: 25px 10px;
  }

  .footer-text {
    font-size: 11px;
  }

  .footer-links a {
    font-size: 12px;
  }

  .footer-links p {
    font-size: 12px;
  }

  .social-icons {
    gap: 8px;
  }

  .social-icons a {
    width: 32px;
    height: 32px;
  }

  .social-icons img {
    width: 32px;
    height: 32px;
  }

  .about-banner {
    height: 150px;
  }

  .about-banner h1 {
    font-size: 1.6rem;
  }

}